@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color:#F3F4F6;
}
h1{
    font-family: 'Megrim', cursive;
    background-color: #62DCD0;
    color:white;
    text-align: left;
    font-size:2.5rem;
    margin:0rem 0rem 2rem;
}
.container{
    padding-left:1rem;
    padding-right:1rem;
}
.link
{
    text-decoration: none;
    padding:.3rem 2rem;
    color:white;
    font-weight: bold;
    border-radius: 1rem;
} 

.link-active{
    color:white;
    background-color: black;
}
/** navigation **/
.navigation{
    background-color:#62DCD0;
    padding: .4rem;
    border-radius: 1rem;
}

.navigation .nav-pills{
    text-align:right;
}

.navigation .link{
    text-align:right;
    color:white;
}

.navigation .link-active{
    font-weight: bolder;
    background-color: black;
}

.top-list{
    font-family: 'Lato', sans-serif;
    display: inline;
    text-decoration: none;
    text-align: right;
}

label{
    padding-top: 2px;
}
button{
    border-radius: 0.5rem;
    width:fit-content;
    margin-bottom: 1rem;
}
.image{
    width: 12rem;
    height: 12rem;
    padding-top:3px;
}
input{
    margin:0rem .5rem 1rem;
}


footer {
    text-align: center;
  }

  .list-non-bullet
{
    list-style:none;    
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}
   
  img {
    padding: 1rem .2rem;
  }