@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:#00BFA6;
    background-color:#F3F4F6;
    margin:2rem;
    display:flex;
    flex-direction: column;
    width: 65rem;
}
header{
    font-size: 2.5rem;
    margin: 1rem;
}
div{
    padding:0rem 2rem;
}

button{
    border-radius: 0.5rem;
    width:fit-content;
}
table{
    padding: 0rem 0rem;
    text-align: center;
    margin:auto;
}
input{
    margin:0rem 0rem 1.5rem;
}

.output{
    font-size: 1rem;
    font-style: italic;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #62DCD0;
    border-radius: .5rem;
  }